version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # 重要：如果是远程部署，请将 localhost 替换为服务器的公网 IP
        - NEXT_PUBLIC_API_URL=http://148.135.124.72:8000
    ports:
      - '3300:3000'
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    # 直接加载 backend/.env 文件
    env_file:
      - ./backend/.env
    restart: unless-stopped
